<title>Products</title>

<!-- Displays list of products -->

<h1>Products</h1>

<table border="1">
    <tr>
        <th>Product ID</th>
        <th>Description</th>
        <th>Store ID</th>
        <th>Location</th>
        <th>Price</th>
        <th></th>
    </tr>

    <% product.forEach((currentElement)=> { %>
        <tr>
            <td>
                <%= currentElement.pid %>
            </td>
            <td>
                <%= currentElement.productdesc %>
            </td>
            <td>
                <%= currentElement.sid %>
            </td>
            <td>
                <%= currentElement.location %>
            </td>
            <td>
                <%= currentElement.Price %>
            </td>
            <td>
                <a href="/products/delete/<%= currentElement.pid %>">Delete</a>
            </td>
        </tr>

        <% }) %>
</table>

<a href="/">Home</a>